<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pokemon List</h1>
    ${pokemonData.map(pokemon => {
    return `
    <div class="card" style="width: 18rem; background-color: blueviolet;">
        <img src="${pokemon.sprites.front}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>${pokemon.name}</h5>
            <p class="card-text">${pokemon.hp}</p>
        </div>
    </div>
    `
    }).join('')}



</body>

</html>